.dashboard {
    display: grid;
    grid-template-columns: 15% 1fr;
    height: 100%;
}
.sidebar{
    background-color: aqua;
    grid-column: 1;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
}

.main{
    height: auto;
    background-color: bisque;
    grid-column: 2 / -1;
}
.title{
    text-align: center;
    height: 100px;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 100px;
    background-color: azure;
    grid-row: 1;
}
.navbar {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
}
.footer {
    grid-row: 3;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    text-decoration: none;
    color: red;
}

.nav-link {
    height: 50px;
    width: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    margin-top: 2rem;
}
