<div class="dashboard">

  <div class="sidebar">
    <div id="logo">
      LOGO
    </div>
    <div class="navbar">

      <a href="#" class="nav-link"> Test1 </a>
      <a href="#" class="nav-link"> Test1 </a>
      <a href="#" class="nav-link"> Test1 </a>
      <a href="#" class="nav-link"> Test1 </a>
    </div>
    <div class="footer">
      <a href="#">LogOut</a>
    </div>
  </div>
  <div class="main">
    <div class="title">
      <h1>Titre</h1>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>